.wrapper {
  border: 1px solid rgb(197, 194, 194);
  border-radius: 4px;
  width: 300px;
}

.item {
  border-bottom: 1px solid rgb(197, 194, 194);
  padding: 15px;
  cursor: pointer;
}

.item:hover {
  background-color: rgba(0, 0, 255, 0.1);
}

.item.listItemActive {
  background-color: rgba(0, 0, 255, 1);
  color: white;
}

.item:last-of-type {
  border-bottom: none;
}

.loader {
  text-align: center;
  padding: 15px;
}

.header {
  padding: 25px 15px 30px;
  font-size: 20px;
}